

.productDetails {
  background-image: url('../img/background1.jpg');
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  
}

h1{
  font-size: 3rem;
  color: white;
  font-weight: bolder;
  padding: 20px;
  text-align: center
}

.detailsHeader {
background-color: rgba(255, 255, 255, 0.3);
display: flex;
flex-direction: row;
justify-content: space-between
}

.backButton{
  padding: 30px

}

.li{
  text-align: center
}
ul{
  display: flex;
  flex-direction: column;
}
